@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');

body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    grid-template-rows: 120px 380vh 90px;
}

#header {
    grid-area: header;
    border: 1px dashed rgb(0, 0, 0) ;
    border-bottom: 2px solid #af9617de;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*#header img {
    max-width: 50%;
    width: 150px; 
}*/

#header ul {
    list-style: none;
}

#header ul li {
    display: inline;
}

#header ul li a {
    text-decoration: none;
    margin-right: 20px;
    color: #af9617de;
    display: inline-block;
    padding: 9px;
} 

#header ul li a:hover {
    color: black;
    background-color: #af9617de;
    border-radius: 15px;
}

#main {
    grid-area: main;
    text-align: center;
    background-color: rgb(176, 173, 173);
}

#main h1{
    background-color: gray;
    text-align: center;
    margin-top: 0;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: 'Bebas Neue', sans-serif;
}

#main p {
    margin-left: 150px;
    margin-right: 150px;
    font-size: larger;
    font-family: 'Oswald', sans-serif;
}

/*#main .Form1 {
    margin-top: 80px;
}
*/

#main .banner {
    margin-top: 65px;
}

#main img {
    border: 2px double #af9617de;
    margin-top: 25px;
}

.banner img {
    width: 300px;
    position: sticky;
    left: 38%;
    
}

#footer {
    grid-area: footer;
    border: 1px dashed black ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #af9617de;
}

.logo_t {
    color: #af9617de;
    position: absolute;
    top: 42px;
    left: 50px;
    font-size: xx-large;
}

.logo_t a{
    color: #af9617de;
    font-size: xx-large;
    text-decoration: none;
}

.WhatsApp_icon {
    position: fixed;
    bottom: 12px;
    right: 12px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: #28A71B;
    background-image: url(../../img/icon_whats.png);
    background-size: cover;
}